html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: Ubuntu;
	color: white;
}

#up, #down {
	font-size: 32px;
	height: 50%;
	width: 100%;
	/*text-align: center;*/
	display: table;
}

#up {
	background-color: #CF424D;
}

#down {
	background-color: #3A99D8;
}

#level {
	position: fixed;
	top: 5px;
	left: 5px;
}

#flash-banner {
	background-color: #30AD63;

/*	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: #EFEFEF;
	border-style: solid;
	border-top-width: 2px;*/

	font-size: 24px;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 48%;
	width: 100%;
}

.center {
	text-align: center;
    display: table-cell;
    vertical-align: middle;
}